<div class="row">

  <div id="shop" class="col-lg-4 col-md-6 mb-4" *ngFor="let shop of shops">
    <div class="card h-100">
      <a href="#">
        <img *ngIf="shop?.photo_reference != 'null' " height="200px" width="400px" class="card-img-top" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=400&maxwidth=700&photoreference={{ shop?.photo_reference }}&key=AIzaSyA4YXnX2QN4enqTUEqYUYDm6Co1aXXqhyE" alt="">
        <img *ngIf="shop?.photo_reference == 'null' " class="card-img-top" src="https://i.imgur.com/eqtlfXv.jpg" alt="">
      </a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ shop?.name }}</a>
        </h4>
        <h5>{{ shop?.id }}</h5>
        <p class="card-text">{{ shop?.address }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button (click)="this.laravel_service.postShopLikedStatus(shop?.id, 2)" class="btn btn-danger">Dislike</button>
          <button (click)="this.laravel_service.postShopLikedStatus(shop?.id, 1)" class="btn btn-info">Like</button>
        </small>
      </div>
    </div>
  </div>

</div>
