  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a routerLink="/mainPage" class="navbar-brand" href="#">SHOPZ | Main Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto pull-left">
            <li class="nav-item active">
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0 pull-right">
              <li class="nav-item"><a routerLink="/nearbyShops" class="nav-link" href="#">Nearby Shops</a></li>
              <li class="nav-item"><a routerLink="/myPreferredShops" class="nav-link" href="#">My Preferred Shops</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <hr><br><br>