<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SHOPZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/mainPage" class="nav-link" href="#">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item"><a routerLink="/nearbyShops" class="nav-link" href="#">Nearby Shops</a></li>
          <li class="nav-item"><a routerLink="/myPreferredShops" class="nav-link" href="#">My Preferred Shops</a></li>
      </ul>
    </div>
  </nav>